@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        /*@apply focus:rounded-md focus:outline-none focus:ring focus:ring-offset-2*/
    }
    html, body {
        font-family: 'Inter var', sans-serif;
        @apply w-full h-full bg-neutral-900 text-neutral-300;
    }
    #app {
        @apply w-full h-full;
    }
    a {
        @apply underline underline-offset-2 transition-all duration-100
    }
    input {
        @apply pl-2 py-1 text-neutral-300 border rounded-md border-neutral-700
        bg-neutral-800 focus:outline-none focus:ring-1 focus:ring-neutral-500
        caret-neutral-400 text-sm;
    }
    textarea {
        @apply text-neutral-300 border rounded-md border-neutral-700 bg-neutral-800
        focus:outline-none focus:ring-1 focus:ring-neutral-500
        caret-neutral-400 text-sm;
    }
    label {
        @apply text-white text-sm font-medium;
    }
}

@layer components {
    .btn {
        @apply cursor-pointer rounded-lg shadow-md py-1 px-4 transition-all
        duration-100 text-white bg-neutral-600 border-neutral-500
        hover:border-neutral-400 border font-semibold text-sm focus:ring-1
        ring-neutral-400
    }
    .btn-primary {
        @apply btn bg-violet-600 ring-violet-500 border-violet-500 text-white
        focus:ring-1 hover:border-violet-400
    }
    .btn-confirm {
        @apply btn bg-green-600 ring-green-500 border-green-500 text-white
        focus:ring-1 hover:border-green-400
    }
    .check {
        @apply appearance-none bg-neutral-800 checked:bg-neutral-400 rounded-sm p-1.5
    }
    .check-primary {
        @apply check checked:bg-violet-600
    }
    .link-primary {
        @apply text-violet-500 hover:text-violet-400
    }
    .error, .available {
        @apply text-sm mt-1 text-red-500
    }
}

@layer utilities {
    .field-wrapper {
        @apply flex flex-col
    }
}
